.container {
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%
}

.pageNumbers{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}

.pageNumbers_li{
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 2px;
    height: 20px;
    width: 20px;
    background-color: black;
    color: white;
}

.pageNumbers_li:hover{
    background-color: white;
    color: black;
}

.pageNumbers_li:focus{
    background-color: grey;
}