.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/landingImage.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    }
    
  .text {
    position: relative;
    font-size: 5rem;
    color: rgb(250, 250, 250);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .button{
      color:  rgb(0, 0, 0);
      text-decoration: none;
      border: 2px solid rgb(0, 0, 0);
      padding: 2rem;
      border-radius: 15px;
      font-size: 2rem;
      background-color: rgb(95, 158, 160);
      opacity: 0.7;
      font-weight: bolder;
      width: 25%;
  }

  .button:hover{
    opacity: 0.9;
    color: rgb(250, 250, 250);
    border: 2px solid  rgb(250, 250, 250);
  }
  
  

  